<div class="container">
    <div class="row justify-content-center api-panel">
    <div class="card col-md-8 col-md-offset-2">
      <div class="well bg_color" style="text-align:center;">
        <b>Want to see what a child panel looks like from the admin side?</b><br>
        <a href="https://followizchild.com/admin">https://followizchild.com/admin</a><br>
            User: Followiz<br>
         Password: 12345678<br>
      </div>
    </div>
</div>
{% if childpanel %}
<div class="row justify-content-center api-panel">
 <div class="card col-md-8 col-md-offset-2">
   <div class="well {% if site['rtl'] %} rtl-content {% endif %}">
     {{ childpanel }}
   </div>
 </div>
</div>
{% endif %}
<div class="row justify-content-center api-panel child_form" >
 <div class="card col-md-8 col-md-offset-2" >
   <div class="well bg_color">
     <form action="{{ page['url'] }}" method="post">
       {% if errorForm %}
       <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ errorFormMessage }}
       </div>
       {% endif %}
       <div class="first">
         <div class="form-group">
           <label for="domain" class="control-label">{{ lang('child_panel.form.domain') }}</label>
           <input type="text" class="form-control" id="domain" name="CreateOrderForm[domain]"
                  value="{{ form['domain'] }}">
         </div>
         <div class="alert alert-info">
           {{ lang('child_panel.form.ns.info') }}
         </div>
       </div>
       <div class="form-group">
         <label class="control-label"
                for="createorderform-currency">{{ lang('child_panel.form.currency') }}</label>
         <select id="createorderform-currency" class="form-control" name="CreateOrderForm[currency]"
                 aria-required="true">
           {% for currency in currenciesList %}
           <option value="{{ currency['code'] }}" {% if form['currency'] == currency['code'] %} selected{% endif %}>
             {{ currency['name'] }}
           </option>
           {% endfor %}
         </select>
       </div>
       <div class="form-group">
         <label class="control-label"
                for="createorderform-username">{{ lang('child_panel.form.username') }}</label>
         <input
                type="text" id="createorderform-username" class="form-control"
                name="CreateOrderForm[username]" aria-required="true"
                value="{{ form['username'] }}">
       </div>
       <div class="form-group">
         <label class="control-label"
                for="createorderform-password">{{ lang('child_panel.form.password') }}</label>
         <input
                type="password" id="createorderform-password" class="form-control"
                name="CreateOrderForm[password]" aria-required="true">
       </div>
       <div class="form-group">
         <label class="control-label"
                for="createorderform-password_confirm">{{ lang('child_panel.form.confirm') }}</label>
         <input
                type="password" id="createorderform-password_confirm" class="form-control"
                name="CreateOrderForm[password_confirm]" aria-required="true">
       </div>
       <div class="form-group">
         <label for="price" class="control-label">{{ lang('child_panel.form.price') }}</label>
         <input type="text" class="form-control" id="price" value="{{ price }}" readonly>
       </div>
       <input type="hidden" name="_csrf" value="{{ csrftoken }}">
       <button style="color:#fff" type="submit" class="btn btn-primary">{{ lang('child_panel.form.submit') }}</button>
     </form>
   </div>
 </div>
</div>
{% if panelsList %}
<div class="row justify-content-center child_form">
 <div class="card col-md-8 col-md-offset-2" style="padding:15px;">
   <div class="bg_color well-float">
     {% if error %}
     <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       {{ errorMessage }}
     </div>
     {% endif %}
     {% if success %}
     <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       {{ successMessage }}
     </div>
     {% endif %}
     {% if renew %}
     <div class="alert alert-danger" role="alert">
       <!--<div class="pull-right">-->
         <a href="{{ renewUrl }}" class="btn btn-blue">{{ lang('child_panel.button.renew') }}</a>
       <!--</div>-->
       {{ renewMessage }}
     </div>
     {% endif %}
     <table class="table">
       <thead>
         <tr>
           <th>{{ lang('child_panel.domain') }}</th>
           <th>{{ lang('child_panel.status') }}</th>
           <th>{{ lang('child_panel.created') }}</th>
           <th>{{ lang('child_panel.expiry') }}</th>
           <th class="col-md-1"></th>
         </tr>
       </thead>
       <tbody>
         {% for panel in panelsList %}
         <tr>
           <td>{{ panel['domain'] }}</td>
           <td>{{ panel['status'] }}</td>
           <td nowrap>{{ panel['created'] }}</td>
           <td nowrap>{{ panel['expiry'] }}</td>
           <td nowrap>
             {% if panel['admin'] %}
             <a href="{{ panel['admin_url'] }}" class="btn btn-xs btn-default"
                target="_blank">{{ lang('child_panel.button.admin') }}</a>
             {% endif %}
           </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
 </div>
</div>
{% endif %}
</div>