<div class="container">
    <div class="panel order_page ">
       <div class="panel-body dripfeed_page">
             <div class="order_history">
       <ul class="nav nav-pills {% if site['rtl'] %} rtl-nav {% endif %}">
 
           <li class="pull-left search">
           <form action="{{ page['url'] }}" method="get" id="history-search">
             <div class="input-group">
               <input type="text" name="search" class="form-control" placeholder="{{lang('general.search.placeholder')}}" value="{{search}}">
               <span class="input-group-btn">
                 <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
               </span>
             </div>
           </form>
         </li>
          <div class="catgorey_section">
         <li {% if 'all' == status %}class="active"{% endif %}><a href="{{ page['url'] }}" class="text_color1">{{ lang('dripfeed.status.all') }}</a></li>
         <li {% if 'active' == status %}class="active"{% endif %}><a href="{{ page['url'] }}/active" class="text_color1">{{ lang('dripfeed.status.active') }}</a></li>
         <li {% if 'completed' == status %}class="active"{% endif %}><a href="{{ page['url'] }}/completed" class="text_color1">{{ lang('dripfeed.status.completed') }}</a></li>
         <li {% if 'canceled' == status %}class="active"{% endif %}><a href="{{ page['url'] }}/canceled" class="text_color1">{{ lang('dripfeed.status.canceled') }}</a></li>
        </div>
       </ul>
       <div class="well well-float text_color">
        <span id="sparkling-txt">Copied</span>
         <table class="table {% if site['rtl'] %} rtl-table {% endif %}">
           <thead>
              <tr>
                <th>
                  <label class="checkbox">
                    <input class="check-all" type="checkbox"/>
                    <svg viewBox="0 0 21 18">
                        <symbol id="tick-path" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.22003 7.26C5.72003 7.76 7.57 9.7 8.67 11.45C12.2 6.05 15.65 3.5 19.19 1.69" fill="none" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" />
                        </symbol>
                        <defs>
                            <mask id="tick">
                                <use class="tick mask" href="#tick-path" />
                            </mask>
                        </defs>
                        <use class="tick" href="#tick-path" stroke="currentColor" />
                        <path fill="white" mask="url(#tick)" d="M18 9C18 10.4464 17.9036 11.8929 17.7589 13.1464C17.5179 15.6054 15.6054 17.5179 13.1625 17.7589C11.8929 17.9036 10.4464 18 9 18C7.55357 18 6.10714 17.9036 4.85357 17.7589C2.39464 17.5179 0.498214 15.6054 0.241071 13.1464C0.0964286 11.8929 0 10.4464 0 9C0 7.55357 0.0964286 6.10714 0.241071 4.8375C0.498214 2.39464 2.39464 0.482143 4.85357 0.241071C6.10714 0.0964286 7.55357 0 9 0C10.4464 0 11.8929 0.0964286 13.1625 0.241071C15.6054 0.482143 17.5179 2.39464 17.7589 4.8375C17.9036 6.10714 18 7.55357 18 9Z" />
                    </svg>
                    <svg class="lines" viewBox="0 0 11 11">
                        <path d="M5.88086 5.89441L9.53504 4.26746" />
                        <path d="M5.5274 8.78838L9.45391 9.55161" />
                        <path d="M3.49371 4.22065L5.55387 0.79198" />
                    </svg>
                  </label>
                  <!-- <input class="check-all" type="checkbox"> -->
                </th>
                <th>{{ lang('dripfeed.id') }}</th>
                <th>{{ lang('dripfeed.service') }}</th>
                <th>{{ lang('dripfeed.link') }}</th>
                <th>{{ lang('dripfeed.quantity') }}</th>
                <th>{{ lang('dripfeed.runs') }}</th>
                <th>{{ lang('dripfeed.interval') }}</th>
                <th>{{ lang('dripfeed.total_quantity') }}</th>
                <th>{{ lang('dripfeed.date') }}</th>
                <th>{{ lang('dripfeed.total_charge') }}</th>
                <th>{{ lang('dripfeed.status') }}</th>
            
           </tr>
           </thead>
           <tbody>
 
           {% for dripFeed in dripFeedList %}
             <tr>
                <td class="check-box">
                  <label class="checkbox">
                    <input type="checkbox" data-order_id="{{ dripFeed['id'] }}"/>
                    <svg viewBox="0 0 21 18">
                        <symbol id="tick-path" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.22003 7.26C5.72003 7.76 7.57 9.7 8.67 11.45C12.2 6.05 15.65 3.5 19.19 1.69" fill="none" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" />
                        </symbol>
                        <defs>
                            <mask id="tick">
                                <use class="tick mask" href="#tick-path" />
                            </mask>
                        </defs>
                        <use class="tick" href="#tick-path" stroke="currentColor" />
                        <path fill="white" mask="url(#tick)" d="M18 9C18 10.4464 17.9036 11.8929 17.7589 13.1464C17.5179 15.6054 15.6054 17.5179 13.1625 17.7589C11.8929 17.9036 10.4464 18 9 18C7.55357 18 6.10714 17.9036 4.85357 17.7589C2.39464 17.5179 0.498214 15.6054 0.241071 13.1464C0.0964286 11.8929 0 10.4464 0 9C0 7.55357 0.0964286 6.10714 0.241071 4.8375C0.498214 2.39464 2.39464 0.482143 4.85357 0.241071C6.10714 0.0964286 7.55357 0 9 0C10.4464 0 11.8929 0.0964286 13.1625 0.241071C15.6054 0.482143 17.5179 2.39464 17.7589 4.8375C17.9036 6.10714 18 7.55357 18 9Z" />
                    </svg>
                    <svg class="lines" viewBox="0 0 11 11">
                        <path d="M5.88086 5.89441L9.53504 4.26746" />
                        <path d="M5.5274 8.78838L9.45391 9.55161" />
                        <path d="M3.49371 4.22065L5.55387 0.79198" />
                    </svg>
                  </label>
                    <!-- <input type="checkbox" value="{{ dripFeed['id'] }}" data-order_id="{{ dripFeed['id'] }}"> -->
                </td>
               <td>{{ dripFeed['id'] }}
                    <div class="reviewShowOnly" id="review_reviewShowOnly_{{ dripFeed['id'] }}" data-service_id="{{ dripFeed['id'] }}" ></div> 
                    <!-- <div class="review" id="review_{{ dripFeed['id'] }}" data-service_id="{{ dripFeed['service_id'] }}" ></div> -->
               </td>
               <td>{{ dripFeed['service'] }}</td>
                <td class="link"><a target="_blank" href="https://anon.ws?{{ dripFeed['link'] }}">{{ dripFeed['link'] }}</a></td>
                <td>{{ dripFeed['quantity'] }}</td>
               
               
               
               <td class="nowrap">
                 {% if dripFeed['runs_current'] %}
                   <a href="{{ page_url('orders') }}?drip-feed={{ dripFeed['id'] }}">
                       {{ dripFeed['runs_current'] }}
                   </a>
                 {% else %}
                   {{ dripFeed['runs_current'] }}
                 {% endif %} / {{ dripFeed['runs_all'] }}
               </td>
               <td>{{ dripFeed['interval'] }}</td>
               <td>{{ dripFeed['total_quantity'] }}</td>
               
               <td class="width-10">{{ dripFeed['date'] }}</td>
              
               <td nowrap="">{{ dripFeed['total_charges'] }}</td>
               
               {% if dripFeed['status_name'] == 'Active' %}
             {% set statusclass = 'color_active' %}
             {% elseif dripFeed['status_name'] == 'Completed'  %}
             {% set statusclass = 'color_completed' %}
             {% elseif dripFeed['status_name'] == 'Canceled' %}
             {% set statusclass = 'color_cancel' %}
             {%endif%}
               <td><span class="status {{ statusclass }}">{{ dripFeed['status_name'] }}</span></td>
             </tr>
           {% endfor %}
 
           </tbody>
         </table>
       </div>
 </div>
       {% if pagination['count'] > 100 %}
         <ul class="pagination {% if site['rtl'] %} rtl-pagination {% endif %}">
           {% if pagination['current'] != 1 %}
             <li>
               <a href="{{ page['url'] }}/{{ status }}/{{ pagination['last'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
                 <span aria-hidden="true">&laquo;</span>
               </a>
             </li>
           {% endif %}
 
           {% set r, l = 3, 3 %}
 
           {% if pagination['current'] == 1 %}
             {% set r = 6 %}
           {% endif %}
 
           {% if pagination['current'] == 2 %}
             {% set r = 5 %}
           {% endif %}
 
           {% if pagination['current'] >= pagination['pages'] %}
             {% set l = 5 %}
           {% endif %}
 
           {% for i in 1..ceil(pagination['pages']) %}
             {% if i >= (pagination['current']-l) and i <= (pagination['current']+r) %}
               <li{% if i == pagination['current'] %} class="active"{% endif %}><a href="{{ page['url'] }}/{{ status }}/{{i}}{% if search %}?search={{ search }}{% endif %}">{{i}}</a></li>
             {% endif %}
           {% endfor %}
 
           {% if pagination['current'] < pagination['pages'] %}
             <li>
               <a href="{{ page['url'] }}/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
                 <span aria-hidden="true">&raquo;</span>
               </a>
             </li>
           {%endif%}
         </ul>
       {% endif %}
 
     </div>
   </div>
 </div>
 