<!DOCTYPE html>
<html lang="{{site['language']}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page['title'] }}</title>
        <meta name="keywords" content="{{ site['seo_key'] }}">
        <meta name="description" content="{{ site['seo_desc'] }}">
        {% if site['favicon'] %}
            <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
        {% endif %}
        {{ site['custom_header'] }}

      
        <script>
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        </script>
        
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- Select2 css for stylish dropdown -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
        <!-- datatable -->
        <link rel="style" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css">
        <!-- datepicker -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <!-- Custom css -->
        {% for style in site['styles'] %}
            <link rel="stylesheet" type="text/css" href="{{ style['href'] }}">
        {% endfor %}
    </head>

    <body>
        <script>
            if(localStorage.getItem("theme_layout")){
                document.body.className = localStorage.getItem("theme_layout");
            }else{
                document.body.className = "theme-dark";
            }
        </script>

        <div class="main-wrapper {% if user['auth'] %} for-dashboard {% endif %}">

            {% if user['auth'] %}
                <div class="top-header">
                    <a href="https://followiz.com/tickets" style="color:#fff">New Design: Found a bug or something you don't like? Let us know via Tickets! <i class="fas fa-lightbulb"></i></a>
                </div>
                <div class="main-menu" >
                    <div class="mobile_menu bg_color header" id="myHeader">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                        
                        <div class="user-amount">
                            <span class="badge badgeBtn btn" style="display:none">{{ user['balance_formatted'] }}</span>
                            <span class="badgeLink"><a class="badge btn" href="/addfunds">{{ user['balance_formatted'] }}</a></span>
                        </div>
                    </div>
                    <div id="wrapper">
                        <div class="overlay"></div>
                        <div class="toogle_menu bg_color">
                            <a class="navbar-brand" href="{{ page_url('index') }}">
                                {% if site['logo'] %}
                                    <img src="https://followizaddons.com/followiz-icons/logo-white.png" alt="Followiz" title="" class="theme_default">
                                    <img src="https://followizaddons.com/followiz-icons/darkmode_logo.png" alt="Followiz" title="" class="theme_dark">
                                {% else %}
                                    {{ site['name'] }}
                                {% endif %}
                            </a>
                            <nav class="navbar open-menu">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown account-dropdown">
                                        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ user['username'] }}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            {% for menu in site['account_menu'] %}
                                                {% if  menu['link'] != '' %}
                                                    <li{% if menu['active'] %} class="active" {% endif %}><a href="{{ menu['link'] }}" {% if menu['external'] %} target="_blank" {% endif %}>{{ menu['name'] }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <div class="user-amount">
                                <span class="badge badgeBtn btn" style="display:none">{{ user['balance_formatted'] }}</span>
                                <span class="badgeLink"><a class="badge btn" href="/addfunds">{{ user['balance_formatted'] }}</a></span>
                            </div>
                            <div class="divide">
                                <hr>
                            </div>
                            <nav class="navbar">
                                <ul class="nav navbar-nav">
                                    {% for menu in site['menu'] %}
                                        {% if  menu['link'] == '/' %}
                                            <li {% if menu['active'] %} class="active dropdown" {% endif %} class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="supportMenu1">New Order
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="supportMenu1"> 
                                                    <li {% if menu['active'] %} class="active"{% endif %} >
                                                        <a href="/">Dashboard</a>
                                                    </li>
                                                    <li class="neworder-menu">
                                                        <a href="/?page=neworder">New Order</a>
                                                    </li>
                                                    {% for menu1 in site['menu'] %}
                                                        {% if menu1['link'] == '/massorder' %}
                                                            <li {% if menu1['active'] %} class="active"{% endif %}>
                                                                <a href="{{ menu1['link'] }}">{{ menu1['name'] }}</a>
                                                            </li>
                                                  			
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if  menu['link'] == '/orders' %}
                                            <li {% if menu['active'] %} class="active dropdown" {% endif %} class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="supportMenu2">Order History
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="supportMenu2">
                                                    {% for menu1 in site['menu'] %}
                                                    {% if  menu1['link'] == "/orders" or menu1['link'] == '/subscriptions' 
                                                    or menu1['link'] == "/drip-feed" or menu1['link'] == '/refill' %}
                                                        <li {% if menu1['active'] %} class="active"{% endif %}>
                                                            <a href="{{ menu1['link'] }}">{{ menu1['name'] }}</a>
                                                        </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if  menu['link'] == '/services' %}
                                            <li {% if menu['active'] %} class="active dropdown" {% endif %} class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="supportMenu4">Services
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="supportMenu4">
                                                    {% for menu1 in site['menu'] %}
                                                    {% if  menu1['link'] == "/services" or menu1['link'] == '/updates'  %}
                                                    <li {% if menu1['active'] %} class="active"{% endif %}>
                                                    <a href="{{ menu1['link'] }}">{{ menu1['name'] }}</a>
                                                    </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if  menu['link'] == '/addfunds' %}
                                            <li {% if menu['active'] %} class="active d_toltip" {% else %} class="d_toltip" {% endif %}>
                                                <a href="{{ menu['link'] }}">Deposit</a>
                                                <div class="deposit_toltip" > </div>
                                            </li>
                                        {% endif %}
                                        {% if  menu['link'] == '/tickets' %}
                                            <li {% if menu['active'] %} class="active dropdown" {% endif %} class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="supportMenu3">Support
                                                    {% for menu1 in site['menu'] %}
                                                        {% if  menu1['link'] == "/tickets"%}
                                                            {{ menu1['name']|replace({'Tickets':''}) }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="supportMenu3">
                                                    {% for menu1 in site['menu'] %}
                                                        {% if  menu1['link'] == "/tickets" or menu1['link'] == '/faq' %}
                                                            <li {% if menu1['active'] %} class="active"{% endif %}>
                                                                <a href="{{ menu1['link'] }}">{{ menu1['name'] }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if  menu['link'] == '/child-panel' %}
                                            <li {% if menu['active'] %} class="active"{% endif %}>
                                                <a href="{{ menu['link'] }}">{{ menu['name'] }}</a>
                                            </li>
                                        {% endif %}
										{% if  menu['link'] == '/affiliates' %}
                                            <li {% if menu['active'] %} class="active"{% endif %}>
                                                <a href="{{ menu['link'] }}">{{ menu['name'] }}</a>
                                            </li>
                                        {% endif %}
                                        {% if  menu['link'] == '/api' %}
                                            <li {% if menu['active'] %} class="active"{% endif %}>
                                                <a href="{{ menu['link'] }}">{{ menu['name'] }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </nav>
                            <div class="divide">
                                <hr>
                            </div>
                            <a href="/vip">
                                <div class="vip-status">
                                    <div class="second circle" 
                                    data-value="{{ ((( user['spent'] /5000)*100)/100) |number_format(2) }}" data-size="172" data-thickness="6" data-fill= "{&quot;color&quot;: &quot;rgba(47, 205, 148, 1)&quot;}" data-reverse="true">
                                        <span class="diamond_icon">
                                            <img src="https://followizaddons.com/followiz-icons/Orion_diamond.svg">
                                        </span>
                                        <span class="label text-color2">VIP Status</span>
                                        <strong class="spent-value">${{ user['spent']|number_format }}</strong>
                                        <span class="total-value">/5000</span>
                                        <span class="icon">
                                            <i class="fa fa-info"></i>
                                            <div class="vip_tolltip bg_color">
                                                <h6 class="text-color2">VIP Status</h6>
                                                <strong class="text-color2">${{ user['spent']|number_format }}/$5000</strong>
                                                <p class="text-color2">Get new perks by becoming a VIP! Spend at least $5000 to get the VIP Status.</p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <div class="divide">
                                <hr>
                            </div>
                            <div class="material-switch bg_color">
                                <input id="themeMode" name="themeModeOption" type="checkbox" value="true" checked/>
                                <label for="themeMode" class="label-success">Light Mode</label>
                            </div>
                            <div class="social-icons text-center mt-5" style="margin-top: 20px">
                                <a class="btn icon-btn me-2" href="skype:followiz?add" target="_blank">
                                    <i class="fa-brands fa-skype"></i>
                                </a>
                                <a class="btn icon-btn me-2" href="https://t.me/FollowizNews" target="_blank">
                                    <i class="fa-brands fa-telegram"></i>
                                </a>
                                <a class="btn icon-btn" href="https://api.whatsapp.com/send?phone=12262707373" target="_blank">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="social-icons text-center mt-5" style="margin-top: 20px">
                                <a class="btn" href="https://cdn.forms-content.sg-form.com/caf6d1c4-aecc-11ec-b78a-c2f16d6fc1ab" target="_blank">
                                    Subscribe
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <!--<section class="alert alert-dismissible text-center alert-primary" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                    Save up to 50% when you use the coupon code “WELCOME50”
                </section>-->
                <section class="logo-wrapper text-center">
                    <a href="{{ page_url('index') }}">
                        <!-- FOLLOWIZ -->
                        <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="" class="theme_default">
                        <img src="https://followizaddons.com/followiz-icons/darkmode_logo.png" alt="{{ site['name'] }}" title="" class="theme_dark">
                    </a>
                </section>
                <nav class="navbar navbar-default navbar-static-top hidden {% if site['rtl'] %} rtl-navbar {% endif %}">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ page_url('index') }}">
                            {% if site['logo'] %}
                                <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="" class="theme_default">
                            {% else %}
                                <img src="https://followizaddons.com/followiz-icons/darkmode_logo.png" alt="{{ site['name'] }}" title="" class="theme_dark">
                                {{ site['name'] }}
                            {% endif %}
                            </a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            {% if site['languages']|length > 1 %}
                                <ul class="nav navbar-nav navbar-left-block">
                                    <li class="dropdown">
                                        {% for lang in site['languages'] %}
                                            {% if lang['active'] %}
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ lang['name'] }} <span class="caret"></span></a>
                                            {% endif %}
                                        {% endfor %}
                                        <ul class="dropdown-menu dropdown-max-height">
                                            {% for lang in site['languages'] %}
                                                <li{% if lang['active'] %} class="active"{% endif %}><a href="/{{ lang['code'] }}">{{ lang['name'] }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            {% endif %}
                            <ul class="nav navbar-nav navbar-right">
                                {% for menu in site['menu'] %}
                                    <li{% if menu['active'] %} class="active" {% endif %}>
                                        <a href="{{ menu['link'] }}" {% if menu['external'] %} target="_blank" {% endif %}>
                                            {% if menu['icon'] %}<i class="navbar-icon {{ menu['icon'] }}"></i>{% endif %}
                                            {{ menu['name'] }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endif %}

          
          
            <!-- Main variables *content* -->
            <div  {% if user['auth'] %} class= "content-wrapper"  {% else %} class= "content-wrapper-user" {% endif %} >
                {{ content }}
            </div>
        </div>
        
        {{ site['custom_footer'] }}
        <script type="text/javascript">
            //PLEASE DO NOT REMOVE FOLLOWING CODE IT IS USED IN OTHER SCRIPT
            const api_end_point = "https://followizaddons.com/client_js";
            const site_link = location.protocol+'//'+location.hostname; //https://followiz.com/
            const user_info =  {{ user | json_encode }}; 
            const user_id = "{{ user['id'] }}";

            window.onscroll = function() {myFunction()};
            
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            
            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
            const serverURL = "https://followizaddons.com/";

         
        </script>
      

      
        {% for script in site['scripts'] %}
            <script type="text/javascript" {% if script['src'] %}src="{{ script['src'] }}"{% endif %}>
                {% if script['code'] %} {{ script['code'] }} {% endif %}
            </script>
        {% endfor %}
        
        <!-- Followiz Fontawesome Kit -->
        <script src="https://kit.fontawesome.com/28e57db20b.js" crossorigin="anonymous"></script>
        <!-- select2 js -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script> -->
        <script src="https://followizaddons.com/client_js/customeSelect.js"></script>
        
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <!-- Circle progress bar -->
        <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
        <script src="https://followizaddons.com/client_js/rating.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

        <!-- eChart -->
        <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
        <!-- daterange picker -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      
       <script>
        // A $( document ).ready() block.
        $( document ).ready(function() {
          if (document.cookie.indexOf('visited=true') == -1){
            // load the overlay
            //$('#myModal').modal({show:true});
            $("#myModal").modal("show");
            var year = 1000*60*60*24*3; //3 days
            var expires = new Date((new Date()).valueOf() + year);
            document.cookie = "visited=true;expires=" + expires.toUTCString();

          }
        }); 
      </script>
    </body>
</html>