<div class="container service">
    <div class="panel order_page">
       <div class="panel-body ">
          <div class="row">
             <div class="col-lg-12">
                 
                <div class="order_history service_page">
                   <div class="dropdown_section ">
                    
                      <ul>
                         <li>
                           
                           {% set array = [] %}
                           {% for cat_key,category in serviceCategoryList %}
                             {% set cat = category['name']|split(' ') %}
                             {% if cat[0] not in array   %}  
               {% set array = array|merge([cat[0]]) %}
                            {% endif %}
                           {% endfor %}
                            <select class="selectpicker all_socialmedia bg_color" data-style="btn-primary" >         			
                              <option class=" text_color" value="all">All</option>
                              {% for obj in array %}
                               <option class=" text_color" value="{{obj}}">{{obj}}</option>
                              {% endfor %}
                            </select>
                          
                         </li>
                         <li>
                            <form action="javascript:void 0" method="get">
                               <div class="input-group">
                                  <input type="text" name="search" id="searchService" class="form-control bg_color" value="{{ search }}"
                                     placeholder="Search Service ID or Service Name">
                                  <span class="input-group-btn">
                                  <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                                  </span>
                               </div>
                            </form>
                         </li>
                         <li class="tool_tip">
                            <span class="category_info">
                               <img src="https://followizaddons.com/followiz-icons/tooltip_icon.svg">
                               <div class="main_category bg_color">
                                  <div class="service_type text_color">
                                     <h5 class="text_color">Service Type [Maxiumum - Start Time - Speed/Day] [Refill Period]</h5>
                                     <p><span>⛔</span>Cancel Button Avaliable</p>
                                       <p class="rba_btn"><span>♻</span>Refill Button Avaliable</p>
                                     <p><span>⭐</span>Most Popular Services</p>
                                     <p><span>⚡️</span>Fast Start</p>
                                     <p><span>AR</span>Auto Refill</p>
                                     <p><span>R30/R60/R∞</span>Refill 30 Days/60 Days/Lifetime</p>
                                  </div>
                               </div>
                            </span>
                         </li>
                      </ul>
                   </div>
                   <div class="well well-float text_color text-color2">
                      {% set loopIndex = 1 %} 
                      {% set serviceByCate = [] %} 
                      {% for cat_key,category in serviceCategoryList %}
                      {% set serviceByCate = serviceByCate|merge({ (cat_key): category['services'] }) %}
                      {% set cat = category['name']|split(' ') %}
                      <div class="servie-data-panel" data-cat_key="{{cat_key}}" data-category="{{ category['name'] }}">
                         <a data-toggle="collapse" href="#collapse-{{loopIndex}}" aria-expanded="false" class="collapsed list-item">
                            <div class="title social-title sticky-top text_color">
                               <img src="https://followizaddons.com/followiz-icons/{{ cat[0] }}.svg" class="img-flag">
                               {% if category['name'] %}
                               <i></i> {{ category['name'] }}
                               {% endif %}<span class="caret"></span> 
                            </div>
                         </a>
                         <div id="collapse-{{loopIndex}}"  class="panel-collapse  text_color text-color2 table-responsive-xl collapse " aria-expanded="false" >
                            <!-- table place holder -->
                         
                            <table class="table table-striped scroll {% if site['rtl'] %} rtl-table {% endif %}">
                               <thead>
                                  <tr>
                                     <th scope="col">{{ lang('services.id') }}</th>
                                     <th scope="col" class="width-25">{{ lang('services.name') }}</th>
                                     <th scope="col">Price/1000</th>
                                     <th scope="col">Min/Max</th>
                                     <th scope="col">Quality</th>
                                     <th scope="col" class="start_time">Start Time</th>
                                     <th scope="col" class="speed_day">Speed per Day</th>
                                     <th scope="col">Avg. Time</th>
                                     <th scope="col" class="rf_avilable">Refill Available</th>
                                     <th scope="col" class="rest-data">Details</th>
                                  </tr>
                               </thead>
                               <!-- please do not make any change -->
                               <tbody id="service_container_{{cat_key}}" class="service_container"></tbody>
                               <!-- please do not make any change -->
                            </table >
                            <!-- table place holder -->
                         </div>
                      </div>
                      {% set loopIndex = loopIndex+1 %} 
                      {% endfor%}
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>

<!-- detail modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="service_detail_modal">
    <div class="modal-dialog selection modal_services" role="document">
        <div class="modal-content bg_color">
            <div class="modal-header">
                <h5 class="modal-title text_color" id="exampleModalLabel">
                    <span id="service_detail_id"></span> - <span id="service_detail_name"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div class="modal_detail">
                    <p class="detail-data details-split" id="service_detail">
                        
                    </p> 
                    <p class="text-color2 details-split"></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% if servicesText %}
<div class="container">
    <div class="row">
       <div class="col-md-8 col-md-offset-2">
          <div class="well {% if site['rtl'] %} rtl-content {% endif %}">
             {{ servicesText }}
          </div>
       </div>
    </div>
</div>
{% endif %}
<script>
    const serviceByCate = {{serviceByCate | json_encode() }};
</script>